{% extends 'base.html.twig' %}

{% block title %}PANIER LA BASE {% endblock %}

{% block body %}
    <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="book-thumbnail">&nbsp;</th>
                                    <th class="book-name">Produit</th>
                                    <th class="book-priceBook">Prix</th>
                                    <th class="book-quantity">Quantité</th>
                                    <th class="book-subtotal">Total</th>
                                    <th class="book-remove">Supprimer</th>
                                </tr>
                            </thead> 
                            <tbody>


                            {% if app.session.get('cart') %}
                                {% for element in cart.books %}
                                    <tr>
                                    
                                        <td class="book-thumbnail"><a href="/conseils"><img src="/assets/uploads/book/{{element.book.couvertureBook}}" alt="{{element.book.title}}" height=300></a></td>
                                        <td class="book-name" data-title="Book"><a href="conseils">{{element.book.title}}</a></td>
                                        <td class="book-priceBook" data-title="priceBook">{{element.book.priceBook/100}}</td>
                                        <td class="book-quantity" data-title="Quantity"><div class="quantity">
                                        <a href="{{ path('cartDelete', {'id':element.book.id})}}" type="button" value="-" class="minus"> - </a>
                                        <input type="text" name="quantity" value="{{element.quantity}}" title="Qty" class="qty" size="4">
                                        <a href="{{ path('cartAdd', {'id':element.book.id})}}" type="button" value="+" class="plus"> + </a>
                                        </div></td>
                                        <td class="book-subtotal" data-title="Total">{{ element.quantity * element.book.priceBook/100 }} €</td>
                                        <td class="book-remove" data-title="Remove"><a href="{{ path('cartDeleteAll', {'id':element.book.id})}}"><i class="fa-regular fa-trash-can"></i></a></td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <p>Votre panier est vide !</p>
                                    {% endif %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="book-thumbnail">&nbsp;</th>
                                    <th class="book-name">Produit</th>
                                    <th class="book-priceProduct">Prix</th>
                                    <th class="book-quantity">Quantité</th>
                                    <th class="book-subtotal">Total</th>
                                    <th class="book-remove">Supprimer</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>   
                {# <div class="row">
                    <div class="col-12">
                        <div class="medium_divider"></div>
                        <div class="divider center_icon"><i class="fa-solid fa-cart-arrow-down fa-beat"></i></div>
                        <div class="medium_divider"></div>
                    </div>
                </div>              #}
                <div class="row">
                    <div class="col-md-6">
                    <p><a class="btn btn-outline-primary" href="{{ path('app_conseils')}}">Poursuivre vos achats</a></p>
                    </div>
                    <div class="col-md-6">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>Panier Totaux</h6>
                            </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">Panier Soustotal HT</td>
                                        <td class="cart_total_amount">€ {{ cart.data.subTotalHT}}</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Taxe (20%) </td>
                                        <td class="cart_total_amount">€ {{ cart.data.Taxe }}</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Total TTC à payer</td>
                                        <td class="cart_total_amount"><strong>€ {{ cart.data.subTotalTTC  }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="#" class="btn btn-outline-primary">Valider votre commande</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
